.home {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/school.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.home h1 {
  background-color: #082f4997;
  padding: 0.5rem 1rem;
  backdrop-filter: blur(3px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
